---
import BlogRender from "../Content.astro";


let { block, index } = Astro.props;
const elementId = "tg-" + index;
---

<div onclick="toggle(this)">
    <span>▶</span>
    <Fragment set:html={block.text} />
    <div id={elementId} class="pl-7" style="display: none">
        {block.children_level != null ? <BlogRender blocks={block.children} /> : ""}
    </div>
</div>
