---
const slug = Astro.props.slug;
const themeConfig = Astro.locals.config.themeConfig;
---
<div id="tcomment"></div>
<script data-twikoo={themeConfig.twikooEnvId}>
    twikoo.init({
        envId: "https://comment.nvme0n1p.dev/.netlify/functions/twikoo",
        el: "#tcomment",
    })
</script>