---
const slug = Astro.props.slug;
const themeConfig = Astro.locals.config.themeConfig;
---
<div id="tcomment"></div>
<script is:inline data-twikoo={themeConfig.twikooEnvId}>
    twikoo.init({
        envId: document.currentScript.dataset.twikoo,
        el: "#tcomment",
    })
</script>