---
const links = Astro.props.links;
// console.log(links);
---
<div class="articleBody">
    <div class="board-list link-list">
        {links.map((link)=>{
            return (
                    <a target="_blank" class="board-item link-item" href={link.link}>
                        <div class="board-thumb" data-thumb={link.pic}></div>
                        <div class="board-title">{link.name}</div>
                    </a>
            )
        })}
    </div>
</div>