---
import PostCard from "./PostCard.astro";
import PageController from "./PageController.astro";
const posts = Astro.props.posts;
const category = Astro.props.category;
const nowPage = Astro.props.nowPage;
// console.log(nowPage)
---
<section id="index-list" class="float-up">
    <ul id="masonry">
        {posts.map((post) => (
                <PostCard post={post} category={category} />
        ))
        }
    </ul>
</section>
<PageController posts={posts} nowPage={nowPage} prev=`<span aria-label="上一页">←</span>` splitPage=1
                next=`<span aria-label="下一页">→</span>` splitWord="..."
                template="wrapClass=pager&prevClass=prev&nextClass=next"/>
